[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "*"
aniso8601 = "*"
apscheduler = "*"
asttokens = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
dnspython = "*"
et-xmlfile = "*"
executing = "*"
flask = "*"
flask-apscheduler = "*"
flask-restful = "*"
flask-wtf = "*"
frozenlist = "*"
future = "*"
gunicorn = "*"
icecream = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
multidict = "*"
numpy = "*"
oauthlib = "*"
openpyxl = "*"
pandas = "*"
pillow = "*"
pygments = "*"
pypng = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
six = "*"
termcolor = "*"
typing-extensions = "*"
tzdata = "*"
tzlocal = "*"
urllib3 = "*"
werkzeug = "*"
wtforms = "*"
yarl = "*"
line-bot-sdk = "*"
pymongo = {extras = ["srv"], version = "==4.7.3"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
