[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
markupsafe = "==2.1.0"
jinja2 = "==3.0.3"
itsdangerous = "==2.1.0"
werkzeug = "==2.0.3"
flask = "==2.0.3"
python-dotenv = "==1.0.1"
line-bot-sdk = "==2.0.1"
flask-apscheduler = "==1.12.3"
flask-wtf = "==0.15.1"
wtforms = "==2.3.3"
openpyxl = "==3.1.4"
six = "==1.16.0"
flask-restful = "==0.3.10"
requests = "==2.27.1"
oauthlib = "==3.2.2"
icecream = "==2.1.3"
numpy = "==1.26.4"
pandas = "==2.2.2"
termcolor = "*"
aiohttp = "==3.9.5"
aiosignal = "==1.3.1"
aniso8601 = "==9.0.1"
apscheduler = "==3.10.4"
asttokens = "==2.4.1"
attrs = "==23.2.0"
certifi = "==2024.6.2"
charset-normalizer = "==2.0.12"
click = "==8.1.7"
colorama = "==0.4.6"
dnspython = "==1.16.0"
et-xmlfile = "==1.1.0"
executing = "==2.0.1"
frozenlist = "==1.4.1"
future = "==1.0.0"
idna = "==3.7"
multidict = "==6.0.5"
pygments = "==2.18.0"
pymongo = {extras = ["srv"], version = "==3.12.0"}
python-dateutil = "==2.9.0.post0"
pytz = "==2024.1"
tzdata = "==2024.1"
tzlocal = "==5.2"
urllib3 = "==1.26.18"
yarl = "==1.9.4"

[dev-packages]

[requires]
python_version = "3.11"
