@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);

.middle_border {
    border-radius: 0.8rem;
    outline-style: solid;
    outline-width: 1px;
    height: inherit;
}

.function_button {
    background-color: cadetblue;
    color: white;
    border-radius: 0.8rem;
    min-height: 60px;
    min-width: 60px;
    transition: all .3s;
}

.function_button:hover {
    scale: 1.05;
}

.icon-size {
    width: 60px;
}

.search:hover {
    color: rgb(0, 149, 255);
    scale: 1.2;
}

.search {
    transition: all .2s;
}

.add {
    transition: all .2s;
}

.add:hover {
    color: rgb(16, 180, 41);
    scale: 1.2;
}

#menu:hover {
    scale: 1.05;
    /* border: .75px solid black; */
    background: rgba(224, 224, 224, 0.36);

}

#menu {
    transition: all .2s;
    border-radius: 0.8rem;
    height: 50px;
    width: 90px;
}

#dashboard {
    transition: width .3s;
}

.logout {
    transition: all .2s;
}

.logout:hover {
    color: rgb(255, 183, 0);
    scale: 1.05;
}

.btn-outline-secondary {
    outline: 0px !important;
    opacity: 100%;
    background-color: white;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
}

.btn {
    opacity: 100%;
}

.text-cadetblue {
    color: cadetblue !important;
}

.btn-green {
    background-color: rgb(70, 174, 93);
}

.bg-cadetblue {
    background-color: cadetblue !important;
}

.nav-item a {
    text-decoration: none;
    color: #858796;
}

.nav-item a:hover {
    text-decoration: none;
    color: #858796;
}

.nav-item a:active {
    text-decoration: none;
    color: #858796;
}

.nav-link:active {
    background-color: #4e73df !important;
    color: white;
}

.nav-link:hover {
    background-color: #4e73df !important;
    color: white !important;
}

.nav-link:focus {
    background-color: #4e73df !important;
    color: white;
}

.active {
    background-color: #4e73df !important;
}


.element-rotate {
    rotate: 360deg;
    transition: rotate 2s;
}

@keyframes floating {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.animation-floating {
    animation-name: floating;
    animation-duration: .27s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.pill-btn{
    transition: .2s ;
    color: black;
    animation-fill-mode: forwards;
    background-color: white;
    border: black solid 1px;
}
.pill-btn:hover{
    scale: 1.01;
    background-color: black;
    color: white;
}
.pill-btn:active{
    scale: 1.01;
    background-color: black;
    color: white;
}
.pill-btn:focus{
    scale: 1.01;
    background-color: black;
    color: white;
}
.animation-scale{
    transition: .15s;
}
.animation-scale:hover{
    scale: 1.4;
}
.none-select{
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none; /* for Mozilla、Firefox */
}


#countdown-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; /* 鼠標移上去會變成小手，表示可以點擊 */
    margin-bottom: .1rem;
  }
  /* token 顯示區塊的樣式 */
  .token-block {
    display: inline-block; /* 讓它與按鈕同行 */

    height: 100%;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background-color: #f9f9f9;
    cursor: pointer;       /* 鼠標移上去變小手，表示可以點擊 */
    user-select: none;     /* 禁止文字被選取 */

  }
  .token-block:hover {
    background-color: #e9e9e9;
  }